<h1>Découverte Angular</h1>

<a no-open href="https://google.com">Google !</a> <br>
<a confirm confirm-message="Êtes vous sûr d'aller sur la poubelle du web ?" href="https://x.com">X !</a>
<hr>
<p highlight background-color="green" base-color="purple">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, magnam. Similique odit repudiandae recusandae eligendi repellat facere reiciendis accusantium, commodi provident vitae, in ducimus quaerat?</p>

<p highlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione magnam nulla est nisi perspiciatis.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sit quo itaque voluptatum, deserunt, tempore dignissimos, a non placeat voluptatem id odit quaerat ex ipsum.</p>